:root {
    --black: #000;
    --white: #fff;
    --white80: #ffffff80;
    --red: #E00712;
    --backAbout: #181818;
    --blackSeason: #090909;
    --blackSelect: #2a2323;
    --gray: #a6a6a6;
}

*, header, main, footer {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10;   
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logoHeader {
    width: 150px;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.aHeader {
    color: var(--white);
    font-size: 18;
    font-weight: 700;
}



main {
    width: 100%;
    height: 100%;
}
.home {
    width: 100%;
    height: 100%;

    background-image: url("../imagens/background1.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    padding:  0 150px 0 0;
    animation-name: mudaBack;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes mudaBack {
    0% {
        background-image: url("../imagens/background1.jpg");
    }
    50% {
        background-image: url("../imagens/HD-wallpaper-the-walking-dead-intro-the-dead-walk.jpg");
    }
    75% {
        background-image: url("../imagens/wallpapersden.com_the-walking-dead-hd-all-character_2560x1440.jpg");
    }
}
.boxBlack {
    width: 70%;
    height: 100%;
    background: linear-gradient(91.42deg, var(--black) 10%, rgba(0, 0, 0, 0) 98.96%);
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 9;
    padding: 200px 150px 200px 150px;
}

.contentHome {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.h3Title {
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
}

.contentSpecification {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.contentSpecification h4, .contentHome p {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

.contentSpecification img {
    border: 1px solid var(--red);
    border-radius: 5px;
}

.contentHome p {
    font-size: 18px;
}

/* --------------- about----------------- */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 100px 150px;
    background-color: var(--backAbout);
}

.headerSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.titleSection {
    font-size: 24px;
    color: var(--white);
    font-weight: 700;
}

.line1 {
    height: 5px;
    width: 70%;
    background: var(--red);
    border-radius: 15px;
}

.contentAbout {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.contentAbout p {
    color: var(--white);
    font-weight: 400;
    width: 50%;
}

/* ----------------- seasons -------------- */
.seasons {
    background: var(--blackSeason);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.contentSeasons {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

.headerContentSeason {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContentSeasonTitle {
    display: flex;
    align-items: center;
    gap: 15px;
}
.headerContentSeasonTitle h3 {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.headerContentSeasonTitle select {
    padding: 10px;
    border-radius: 10px;
    color: var(--red);
    font-weight: 700;
    font-size: 18px;
    background-color: var(--blackSelect);
}

.headerContentSeasonTitle select:focus {
    outline: none;
}

.inputSearch {
    background: var(--white);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.inputSearch:focus {
    outline: 2px solid var(--red);
}

.submit {
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.episodesSearch {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.eps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: 30px;
}
.eps img {
    border-radius: 10px;
}

.divTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleEps {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

.duration {
    color: var(--gray);
}

.cta {
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s all;
}

.cta:hover {
    opacity: 0.8;
}


/* ----------persons ------------- */
.sectionPersons{
    background: var(--backAbout);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contentPersons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contentPersons h3 {
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
}

.persons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    
}

.person {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.person img {
    border-radius: 100%;    
}

.divNames {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    align-items: center;
    text-align: center;
}
.name {
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    width: 100%;
}
.nameSerie {
    font-size: 18px;
    font-weight: 700;
    color: var(--white80);
    width: 100%; 
}



/* ------------------- News --------------------- */

.news {
    background: var(--blackSeason);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contentNews {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.contentNewsColumn1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    width: 50%;
}

.newsColumn1Texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.newsColumn1Texts h3 {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
}

.newsColumn1Texts p {
    color: var(--gray);
    font-size: 18px;
    width: auto;
}

.contentNewsColumn2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.contentNewsColumn2 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    align-items: center;
}

.labelInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.labelInput label {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

.labelInput input {
    padding: 15px;
    border-radius: 10px;
}

.labelInput input:focus {
    outline: 2px solid var(--red);
}

.labelInput input::placeholder {
    color: var(--gray);
}

.buttForm {
    background: var(--red);
    width: 100%;
    padding: 15px;
    border-radius: 10px;

    font-size: 20px;
    color: var(--black);
    font-weight: 700;
    transition: 0.5s all;
    cursor: pointer;
}

.buttForm:hover {
    opacity: 0.8;
}

/* -------------- footer ------------- */

footer {
    background: var(--backAbout);
    padding: 30px 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.contentFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer p {
    color: var(--white);
    font-size: 18px;
}

footer p a {
    color: var(--red);
    text-decoration: underline;
    transition: 0.5s all;
    font-weight: 700;
    cursor: pointer;
}

footer p a:hover {
    opacity: 0.9;
    
}